@import '../base';

.row{
  width: 100%;
  height: 40px;
  // border-bottom: 1px solid $border-color;
}
.col{
  float: left;
}

.status.valid{
  padding-left: 8px;
  width: 45px;
  color: green;
  float: left;
}

.status.invalid{
  padding-left: 8px;
  width: 45px;
  color: red;
  float: left;
}

.date{
  width: 100px;
}

.client{
  width: 158px;
}