@import '../base';
// @import './OrderCard.scss';
// @import './OrderList.scss';
// @import './OrderListItem.scss';
// @import './OrderNav.scss';
// @import './OrderSummary.scss';

$header-area-h: 88px;
$search-bar-h: 40px;
// $order-head-h: 85px;

// .page-body{
//   height: calc(100% - #{$order-head-h});
// }
.nav-menu-bar{
  height: 100%;
}

// .page-content{
//   padding: 10px;
//   height: calc(100% - #{$bottom-bar-h});
// }

.row{
  width: 100%;
  height: 40px;
  // border-bottom: 1px solid $border-color;

}
.col{
  float: left;
}

// .page-body{
//   display: flex;
//   height: calc(100% - 100px);
//   .left{
//     width: 70vw;
//     float: left;
//   }
//   .right{
//     left: 30vw;
//     float: left;
//   }
// }

.order-list{
  margin-top: 5px;
  margin-left: 3px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.search-bar {
  width: 100%;
  height: $search-bar-h;
  background: 0 0;
  outline: 0;
  font-weight: 400;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin: 5px 0px;
  input{
    height: $search-bar-h;
  }
}

.btn{
  margin-right: 5px;
}

.order-card{
  height: calc(100% - #{$search-bar-h} - 12px);
}

.status.valid{
  padding-left: 8px;
  width: 45px;
  color: green;
  float: left;
}

.status.invalid{
  padding-left: 8px;
  width: 45px;
  color: red;
  float: left;
}

.date{
  width: 100px;
}

.client{
  width: 158px;
}

.react-datepicker-wrapper{
  height: 38px;
  input {
    height: 38px;
  }
}



.seperateLine{
  border: 0.5px solid rgb(190, 185, 185)
}


// .select-date-area{
//   width: 100%;
// }

.summaryCard{
  border: thick double #32a1ce;
  margin: 10px;
  padding : 15px;
  box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.2);
}
.summaryPage{
  margin-left: 50px;
}


// .orderPage{
//   display: flex;
//   flex-direction: row;
//   padding-left: 100px;
// }

// .button{
//   margin: 5px;
//  background-color: #007bff;
//  border: none;
//  color: white;
//  padding: 5px 15px;
//  text-align: center;
//  text-decoration: none;
//  display: inline-block;
//  font-size: 8px;
// cursor: pointer;
// }


@media #{$mobile} {

  .nav-menu-bar{
    height: 100%;
  }

  // .footer{
  //   position:absolute;
  //   width:100%;
  //   bottom:0px;
  // }

  .summaryPage{
    margin-left: 0px;
  }

  .col{
    float: left;
    width: 100%;
  }
  
  // .order-card{
  //   height: calc(100% - #{$bottom-bar-h} - 100px);
  // }
  



  // .orderPage{
  //   display: flex;
  //   flex-direction: row;
  //   padding-left: 0px;
  // }
  .mobileHide{
    display: none !important;
  }


// .button{
//   margin-left: 10px;
//     background-color: #007bff;
//     border: none;
//     color: white;
//     text-align: center;
//     text-decoration: none;
//     cursor: pointer;
//     width: 150px;
//     display: block;
//     font-variant: all-petite-caps;
//     font-size: small;
// }



  
}

@media #{$cellphone} {


  // .footer{
  //   position:absolute;
  //   width:100%;
  //   bottom:0px;
  // }

  .summaryPage{
    margin-left: 0px;
  }

  .col{
    float: left;
    align-self: center;
    margin-bottom: 15px;;
  }
  // .order-card{
  //   height: calc(100% - #{$bottom-bar-h} - 100px);
  // }
  



// .orderPage{
//   display: flex;
//   flex-direction: row;
//   padding-left: 0px;
// }
.mobileHide{
  display: none !important;
}

// .button{
// margin-left: 10px;
//   background-color: #007bff;
//   border: none;
//   color: white;
//   text-align: center;
//   text-decoration: none;
//   cursor: pointer;
//   width: 150px;
//   display: block;
//   font-variant: all-petite-caps;
//   font-size: small;
// }


// .search-bar {
//   width: 250px;
//   color: #212529;
//   background: 0 0;
//   outline: 0;
//   margin-left: 10px;
//   margin-top: 10px;
//   font-weight: 400;
//   font-family: Roboto,Helvetica,Arial,sans-serif;
//   font-size: 14px;
//   line-height: 18px;
//   display: block;
//   padding: 10px;
// }




}