@import '../base';

.row{
  width: 100%;
  height: 40px;
  // border-bottom: 1px solid $border-color;

}
.col{
  float: left;
}

.status.valid{
  padding-left: 8px;
  width: 45px;
  color: green;
  float: left;
}

.status.invalid{
  padding-left: 8px;
  width: 45px;
  color: red;
  float: left;
}

.date{
  width: 100px;
}

.client{
  width: 158px;
}

.react-datepicker-wrapper{
  height: 38px;
  input {
    height: 38px;
  }
}
.datePick{
  width: 18vw;
  margin: 5px;
}
.searchBar {
  width: auto;
  color: #212529;
  background: 0 0;
  outline: 0;
  margin-left:10px;
  margin-top:10px;
  font-weight: 400;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding: 10px;

}

.title{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: larger;
}
.seperateLine{
  border: 0.5px solid rgb(190, 185, 185)
}
.orderRow{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top:10px;
  cursor: pointer;
 
}
.orderRowSelected{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top:10px;
  cursor: pointer;
  background-color: lightgrey;

}

.naviBar{
  margin-top: 20px;
}
.summaryCard{
  border: thick double #32a1ce;
  margin: 10px;
  padding : 15px;
  box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.2);
}
.summaryPage{
  margin-left: 50px;
}
.summaryButton{
  margin-left:7px;
}

.orderPage{
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}
.selectCard{
  box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.2);
  margin-top:20px;
  margin-left:10px;
  height: 80vh;
  overflow-y: scroll;
   width: 50vw;
   
}
.button{
  margin: 5px;
 background-color: #007bff;
 border: none;
 color: white;
 padding: 5px 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 8px;
cursor: pointer;
}

.detailCard{
  box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.2);
  margin-top:20px;
  width:30vw;
  margin-left: 20px;
  height: 62vh;
  overflow-y: scroll;

}
.detailContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
}

.detailRow{
  margin: 10px;
  font-size: x-small;
  font-weight: bold;
}
.detailAll{

}



@media only screen and (max-width: 600px) {
  .detailAll{
    position: relative;
    right: 30%;
  }
  .footer{
    position:absolute;
    width:100%;
    bottom:0px;
  }
  .orderRow{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .summaryPage{
    margin-left: 0px;
  }

  .col{
    float: left;
    align-self: center;
    margin-bottom: 15px;;
  }
}