@import '../variable';

$list-w: 120px;

.driver-list{
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  overflow-y: scroll;
  
}
.driver-list{
  width: 50%;
  height: 100%;
}


@media #{$mobile}{
  .col-orders, .col-products{
    display: none;
  }
  .driver-list{
    width: $list-w;
  }
  .driver-list{
    width: 50%;
    height: 100%;
  }


}

@media #{$cellphone}{
  .col-orders, .col-products{
    display: none;
  }
  .driver-list{
    width: $list-w;
  }
  .driver-list{
    width: 50%;
    height: 100%;
  }
    

}