@import '../variable';

.summaryButton{
    margin-left:7px;
  }
 
  @media #{$mobile} {
    .summaryButton{
        margin-left:0px
      } 
    }
  @media #{$cellphone} {
    .summaryButton{
        margin-left:0px
      } 

  }