@import '../variable';
$driver-list-w: 120px;
.pick-up-list{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 10px;
  position: relative;
  right: 80px;
}

.col-merchant{
  width: 85%;
}

.col-quantity{
  width: 15%;
}

.order-driver-card{
  
  width: 50%;
  overflow-y: scroll;

}


@media #{$mobile}{
  .order-driver-card {
    // width: calc(100% - #{$driver-list-w});
    width: 70%;
  }
  .col-merchant{
    width: 50%;
  }
  
  .col-quantity{
    width: 40%;
  }
  .pick-up-list{
    right: 0px;
  }
 
}

@media #{$cellphone}{
  .order-driver-card {
    // width: calc(100% - #{$driver-list-w});
    width: 70%;
  }
  .col-merchant{
    width: 50%;
  }
  
  .col-quantity{
    width: 40%;
  }
  .pick-up-list{
    right: 0px;
  }

    
}