.orderRowSelected{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top:10px;
    cursor: pointer;
    background-color: lightgrey;
  }


  .orderRow{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top:10px;
    cursor: pointer;
   
  } 

  .title{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
  }
@media #{$cellphone} {

    .title{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: bold;
        font-size: small;
      }

    .orderRow{
      width: 100px;
      height: auto;
      font-size: xx-small;
      position: relative;
      right: 10px;
      cursor: pointer;
    }
    .orderRowSelected{
        width: 100px;
        height: auto;
        margin-top:10px;
        cursor: pointer;
        background-color: lightgrey;
        font-size: xx-small;
        position: relative;
        right: 10px;
      }
  }
  @media #{$mobile} {

    .title{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: bold;
        font-size: small;
      }

    .orderRow{
      width: 100px;
      height: auto;
      font-size: xx-small;
      position: relative;
      right: 10px;
      cursor: pointer;
    }
    .orderRowSelected{
        width: 100px;
        height: auto;
        margin-top:10px;
        cursor: pointer;
        background-color: lightgrey;
        font-size: xx-small;
        position: relative;
        right: 10px;
      }
  }