@import '../variable';
.merchant-list{
    height: 100%;
    overflow-y: scroll;
    overflow-x:hidden;
}

@media #{$mobile}{
.merchant-list{
    height: 100%;
    overflow-y: scroll;
}
.order-row{
    width: 100%;
    height: auto;
    font-size: xx-small;
    position: relative;
    left: 2px;
    cursor: pointer;
    justify-content: space-around;
}
  
.list-item{
    position: relative;
    right: 10px;
    }
   


}

@media #{$cellphone}{
    .merchant-list{
        height: 100%;
        overflow-y: scroll;
    }
    .order-row{
        width: 100%;
        height: auto;
        font-size: xx-small;
        position: relative;
        left: 2px;
        cursor: pointer;
        justify-content: space-around;
    }
    .list-item{
        position: relative;
        right: 10px;
        }
}