.finance-exception-body {
  width: 100%;
}

.finance-exception-body-left{
  width: 70%;

  .transaction-list{
    height: 90%;
    overflow: scroll;
  }
}

.finance-exception-body-right{
  width: 30%;

  .account-list{
    height: 90%;
    overflow: scroll;
  }
}
