$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$green: rgb(24, 128, 56);
$yellow: rgb(244, 160, 0);
$red: rgb(219, 68, 55);
$blue: #4285F3;

$primary-color: #4285F3;
$inverse-font-color: white;
$bg-color: white;
$border-color: #aaa;

$info-bg: rgb(69,69,69);
$info-fg: white;

$head-h: 60px;
$bottom-bar-h: 60px;
$bottom-btn-w: 125px;

$pagination-h: 36px;

$input-h: 50px;
$btn-h: 40px;

$form-padding: 20px;
$radius: 4px;

$font-s: 12px;
$font-m: 14px;
$font-b: 16px;

$nav-w: 160px;

$list-item-padding-v: 8px;
$list-item-padding-h: 15px;
$list-item-border-size: 1px;

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}

.page{
  height: 100%;
  width: 100%;
  display: flex;
}

.nav-menu-bar{
  width: $nav-w;
  height: 100%;
}

.footer, .bottom-bar{
  display: none;
}

.page-content{
  width: calc(100% - #{$nav-w});
  height: 100%;
}

.title-row{
  height: $head-h;
  padding: 15px;
  border-bottom: 1px solid $border-color;
}
// .page-body{
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: calc(100% - #{$head-h} - #{$bottom-bar-h});
// }


ul.pagination{
  padding-top: 8px;
  li{
    width: 36px;
    font-size: 19px;
  }
}

.label-s{
  float: left;
  font-size: $font-s;
  width: 100%;
  text-align: left;
}

input {
  width: 100%;
  height: $input-h;
  border-radius: $radius;
  padding: 4px 15px;
}

input[type=text],
input[type=password] {
  box-sizing : border-box;
  border: 1px solid $border-color;
}

textarea:focus, input:focus{
  outline: none;
}

.btn {
  width: 100%;
  height: $btn-h;
  border-radius: $radius;
  font-size: $font-b;
  background: $primary-color;
  color: $inverse-font-color;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list{
  border: 1px solid $border-color;
  border-radius: 4px;
  overflow-y: scroll;

  .list-item{
    width: 100%;
    text-align: left;
    font-size: $font-m;
    float: left;
    border-bottom: $list-item-border-size solid $border-color;
    padding: $list-item-padding-v $list-item-padding-h;
  }
}

// hide display

.hide{
  display: none;
}

@media #{$tablet}{
  
  .bottom-bar{
    border-right: none;
    border-left: none;
  }


  // .footer{
  //   position:absolute;
  //   width:100%;
  //   bottom:0px;
  // }

  // .page-body{
  //   padding: 10px;
  //   margin: 0px;
  // }
}

@media #{$mobile}{

  .nav-menu-bar{
    display: none;
  }

  .footer{
    display: block;
    z-index: 9900;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid $border-color;
  }

  .bottom-bar{
    width: 100%;
    height: $bottom-bar-h;
    background: $bg-color;
    margin: 0px;
    padding: 0px;
    border-top: solid 1px $border-color;
    border-right: none;
    border-left: none;

    .bottom-btn{
      text-align: center;
      color: $inverse-font-color;
      background: $primary-color;
      width: $bottom-btn-w;
      padding-top: 15px;
    }
  }

  
  .page-content{
    width: 100%;
    padding: 10px;
    height: calc(100% - #{$bottom-bar-h});
  }
  // .page-body{
  //   padding: 10px;
  //   margin: 0px;
  // }
}

@media #{$cellphone}{

  .nav-menu-bar{
    display: none;
  }


  .footer{
    display: block;
    z-index: 9900;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid $border-color;
  }

  .bottom-bar{
    width: 100%;
    height: $bottom-bar-h;
    background: $bg-color;
    margin: 0px;
    padding: 0px;
    border-top: solid 1px $border-color;
    border-right: none;
    border-left: none;

    .bottom-btn{
      text-align: center;
      color: $inverse-font-color;
      background: $primary-color;
      width: $bottom-btn-w;
      padding-top: 15px;
    }
  }

  .page-content{
    width: 100%;
    padding: 10px;
    height: calc(100% - #{$bottom-bar-h});
  }
  // .page-body{
  //   padding: 10px;
  //   margin: 0px;
  // }
}